.bg {
    height: 693px;
    width: 1160px;
    background-image: url('Cliffhangers.png');
    background-size:100%;
    margin: 0 auto;
}

.climber {
    background-image: url('Cliffhanger.png');
    height: 170px;
    width: 88px;
    background-size: 100%;
    position: relative;
    top: 501px;
    left: 224px;
}

.controls div {
    margin: 5px;
    margin-right: 10px;
}

.controls input {
    margin-top: 10px;
}